<!--<h1>Listing ideas</h1> -->
<br/>
<table>
  <tr>
    <th>Target</th>
    <th>Creador</th>
    <th>Creado</th>
    <th>Votos a favor</th>
    <th>Votos en contra</th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= link_to idea.target, idea %></td>
    <td><%= idea.user.email %></td>
    <td><%= idea.created_at.to_formatted_s(:short) %></td>
    <td><%= idea.likes.size %></td>
    <td><%= idea.dislikes.size %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_idea_path %>
