<%= form_for(@foro) do |f| %>
  <% if @foro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foro.errors.count, "error") %> prohibited this foro from being saved:</h2>

      <ul>
      <% @foro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>  
    <div class="comment">
  <%= fields_for @comment do |c| %>
    
    <%= c.text_area :comment %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
