
<table class="comments_table">


  <tr><th colspan='2' class='titulo_foro'><b><%= @foro.titulo %></b></th></tr>
  <%= render :partial => "comments/comments", :locals => { :commentable => @foro } %>
</table>
<%= render :partial => "comments/comment_form", :locals => { :commentable => @foro } %>

<%= link_to 'Edit', edit_foro_path(@foro) %> |
<%= link_to 'Back', foros_path %> |
<%= link_to 'Destroy', @foro, confirm: 'Are you sure?', method: :delete %>

