<!DOCTYPE html>
<html>
<head>
  <title>Ideasweb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to 'Inicio', root_url() %> &nbsp;|&nbsp;
  <%= link_to 'Foro', foros_url() %> &nbsp;|&nbsp;
  <% if current_user -%>
    Hola <%= current_user.email %>&nbsp;|&nbsp;
    <%= link_to "Log Out", destroy_user_session_path(), :method => :delete -%>
  <% else -%>
    Regístrate!&nbsp;|&nbsp;<%= link_to "Log In", new_user_session_path() -%>&nbsp;|&nbsp;<%= link_to "Sign Up", new_user_registration_path() -%>
  <% end -%>
</div>
<p id="notice"><%= notice %></p>


<%= yield %>

</body>
</html>
